.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.timeline-container {
  width: 40%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.map-container {
  width: 60%;
  height: 100%;
}